<h1>See the result here</h1>

<h3>address:<%=data.address%></h3>

<h3>username:<%=data.username%></h3>

<h3>domain:<%=data.domain%></h3>

<h3>md5hash:<%=data.md5Hash%></h3>

<h3>suggestions:<%=data.suggestion%></h3>

<h3>validformat:<%=data.validFormat%></h3>

<h3>deliverable:<%=data.deliverable%></h3>

<h3>fullInbox:<%=data.fullInbox%></h3>

<h3>hostExists:<%=data.hostExists%></h3>

<h3>catchAll:<%=data.catchAll%></h3>

<h3>gravatar:<%=data.gravatar%></h3>

<h3>role:<%=data.role%></h3>

<h3>disposable:<%=data.disposable%></h3>

<h3>free:<%=data.free%></h3>





